.aboutus-header-container {
    width: 100%;
    height: auto;
}

.aboutus-header {
    font-size: 18px;
    padding: $med-padding;
    color: $darkpink;
    font-family: $quicksand;
}

.aboutus-header-subtext {
    font-size: 16px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: $large-padding;
    font-family: $noto;
    line-height: 23px;
    background-color: whitesmoke;
}

.ourteam-title {
    font-size: 20px;
    color: black;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

.ourteam-title-vision {
    font-size: 20px;
    color: #E9418B;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $lightpink;
}

.item {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

.item:nth-child(2) {
    background: $lightpink;
}

.aboutus-images {
    width: 80%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutus-titles {
    font-size: 22px;
    color: $darkpink;
    font-family: $quicksand;
    width: 100%;
    text-align: center;
}

.aboutus-text {
    font-size: 16px;
    padding: 20px;
    font-family: $noto;
    line-height: 23px;
}

.vision-subtext {
    font-size: 16px;
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 20px;
    font-family: $noto;
    line-height: 23px;
    text-align: left;
}